doctype html
html
    head
        title Sites
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDfBlIs8yLBRGx02eU3kPgZPAW5sKY31kI&libraries=places')
    body.back
        header.navTitle
            section
                ul
                    a(href='index.html')
                        li Home
                    a(href='list.html')
                        li List
                    a(href='map.html')
                        li Sites
        section#wrapMain.mapWrap
            .mapForm
                form#formFromUser(action='/insert', autocomplete='on', method='post')
                    h1.t_addSite
                        label Site Name
                    a(style='color:red') *
                    input#SiteName.txtInput(type='text', placeholder='Best shopping center', name='name',value='')
                    h1.t_addSite
                        label Address
                    a(style='color:red') *
                    input#pac-input.txtInput(type='text', placeholder='5 Nordau Avenue',name='address', value='')
                    label#lblresult
                    h1.t_addSite
                        label Estimated Costs
                    input#cost.txtInput(type='number', placeholder='150$ (optional)',name='cost', value='')
                    br
                    input#b_addSite.b_general(type='submit', value='Add to list')
                    a(href='/get-data') LOAD DATA
                    input#b_clearSite.b_general(type='button', onclick='/get-data' value='Clear list')
            #theMap
            section.mapForm
                #t_list
                    h1 List of sites:
                    ul#siteList

                .showCost
                    p#totalCost Total Cost = 0 $
        #wrapAttention
            #attention
                h1 You must enter 'Site Name' and 'Address'!
            input#b_att.b_general(type='button', value='Got it!', onclick='showMap()')
    script(src='include/JS.js')
