<!DOCTYPE html>
<html>
<head>
    <title>Plan It</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body class="n_back">
<section class="navTitle">
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/list"><li>List</li></a>
        <a href="/map"><li>Sites</li></a>
    </ul>
</section>
<section class="n_menuList">
    <form class="main_title">
        <h2>going for a trip?</h2>
        <h1>Plan It!</h1>
        <a id="b_start">Start Planning</a>
    </form>
</section>
<section class="n_navbar">
    <div id="startPlan">
        <p>Start Planing</p>
    </div>
    <form id="signIn" action="/signIn" method="post" class="navigateTo">
        name: <input type="text" class="txtInput" name="userName" required>
        password: <input type="password" class="txtInput" name="password" required>
        <input id="b_signIn" type="submit" class="b_general" value="Sign In">
        <div class="listPic"></div>
    </form>
    <form id="register" action="/register" method="post" class="navigateTo">
        name: <input type="text" class="txtInput" name="userName" required>
        password: <input type="password" class="txtInput" name="password" required>
        <input id="b_register" type="submit" class="b_general" value="Register">
        <div class="mapPic" href="map.html"></div>
    </form>
</section>
</body>
<--script src="public/javascripts/jquery.js"><--/script>
<--script src="public/javascripts/JS.js"><--/script>
</html>