<!DOCTYPE html>
<html>
<head>
    <title>List Of Items</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href='stylesheets/style.css'>
</head>
<body class="back">
<section class="navTitle">
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/list"><li>List</li></a>
        <a href="/map"><li>Sites</li></a>
    </ul>
</section>
<main id="base" class="wrap">
    <section class="container" id="navbar">
        <p>Make your list of things to pack</p>
        <!--Making the list-->
        <form id="form1">

            <p id="totalItems">Total Items: 0</p>
            <input type="text" id="item" class="txtAddItems" placeholder="Add your item here..." value="" autocomplete="on">
            <input type="button" id="addItem" action='/insert' method='post' class="b_general" value="Add Item">
            <input type="button" id="b_clearList" class="b_general" id="res" value="Clear List">
        </form>
        <section class="wrapper">
            <nav class="nav">
                <ul id="listOfItems">
                    <!--empty list-->
                </ul>
                <div id="feedback">
                </div>
            </nav>
        </section>
        <section class="allLists">

        </section>
    </section>
</main>
</body>
</html>