<!DOCTYPE html>
<html>
<head>
    <title>My Street</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href='/stylesheets/style.css'>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfBlIs8yLBRGx02eU3kPgZPAW5sKY31kI&libraries=places"></script>
</head>
<body class="back">
<header class="navTitle">
    <section>
        <ul>
            <a href="index.html"><li>Home</li></a>
            <a href="list.html"><li>List</li></a>
            <a href="street.html"><li>Sites</li></a>
            <a href="index.html" id="b_logout"><li>Logout</li></a>
        </ul>
    </section>
</header>
<section class="mapWrap" id="wrapMain">
    <div class="mapForm" >
        <form  id="formSite">
            <h1 class="t_addSite"><label>Text:</label></h1>
            <input type="text" id="SiteName" class="txtInput" name="sitename" placeholder="What's on your mind..">
            <h1 class="t_addSite"><label>Address</label></h1><a style="color:red">*</a>
            <input type="text" id="pac-input" class="txtInput" name="siteaddress" placeholder="5 Nordau Avenue">
            <label id="lblresult"></label>
            <h1 class="t_addSite"><label>Primary Street</label></h1><a style="color:red">*</a>
            <input type="text" id="firstName" class="txtInput" name="firstName" placeholder="first name">
            <input type="text" id="familyName" class="txtInput" name="familyName" placeholder="last name">

            <br>
            <button id="b_addPost" class="b_general" value="Add Post">Post</button>
            <button id="b_deletePost" class="b_general" value="Delete Post">deletePost</button>
            <button id="b_addLikeToPost" class="b_general" value="Add Like">likePost</button>
            <button id="b_unlikePost" class="b_general" value="unLike">unlikePost</button>
            <button id="b_addComment" class="b_general" value="Add Comment">Add Comment</button>
            <button id="b_addStreet" class="b_general" value="Add Street">Join</button>
            <button id="b_findStreet" class="b_general" value="Add Street">Find Street</button>
            <button id="b_changeAddress" class="b_general" value="Add Street">Change Street</button>
            <button id="b_removeStreet" class="b_general" value="Remove Street">Remove Street</button>
            <button id="b_addAdmin" class="b_general" value="Remove Street">Add admin</button>
            <button id="b_updateBasicInfo" class="b_general" value="Remove Street">Update basic</button>
            <button id="b_updateProfessionalInfo" class="b_general" value="Remove Street">Update skills</button>
            <button id="b_getPlacesNearPrimary" class="b_general" value="Add Street">Streets Near Me</button>
            <button id="b_getPlacesNearby" class="b_general" value="Add Street">Alternative Streets</button>
            Public: <input type="checkbox" id="streetPrivacy">
            <input id="b_getTop" type="button" class="b_general" value="Show Friends">
        </form>
        <section class="topFive" id="topFiveBlock">
            <p>Top 5:</p>
            <ul id="topList" class="topFiveList">
            </ul>
        </section>
    </div>
    <div id="theMap">
    </div>
    <section class="mapForm">
        <div id="t_list">
            <h1>List of sites:</h1>
            <ul id="siteList">
            </ul>
        </div>
        <div class="showCost">
            <p id="totalCost">Total Cost = 0 $</p>
        </div>
    </section>
</section>
<div id="wrapAttention">
    <div id="attention">
        <h1>You must enter 'Site Name' and 'Address'!</h1>
    </div>
    <input type="button" id="b_att" class="b_general" value="Got it!" onclick="showMap()">
</div>
</body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="javascripts/Js.js"></script>
</html>